.login-page {
	width: 360px;
	padding: 7% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 500px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form select,.form option {
  border-style: none;
    border-color: inherit;
    border-width: 0;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
  width: 100%;
    margin: 0 0 13px;
    padding: 13px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input {
	border-style: none;
	border-color: inherit;
	border-width: 0;
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	margin: 0 0 13px;
	padding: 13px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button,
.b1 {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #0288d1;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
	background: #01579b;
}

.form .message {
	margin: 15px 0 0;
	color: #01579b;
	font-size: 15px;
	font-style: bold;
	font-weight: 500;
}

.form .message a {
	color: #0288d1;
	font-weight: 500;
	font-style: bold;
	text-decoration: none;
}

.form .message a:focus,
.form .message a:active,
.form .message a:hover {
	color: #01579b;
}

.form .register-form {
	display: none;
}

.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}

.container:before,
.container:after {
	content: "";
	display: block;
	clear: both;
}

.container .info {
	margin: 50px auto;
	text-align: center;
}

.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}

.container .info span {
	color: #4d4d4d;
	font-size: 12px;
}

.container .info span a {
	color: #000000;
	text-decoration: none;
}

.container .info span .fa {
	color: #EF3B3A;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #02001A;
	webkit-font-smoothing: antialiased;
}

.headera:hover {
	background: #01579b;
	color: white;
}

.headerdiv {
	float: right;
}

.headera:active {
	background-color: #ab003c;
	color: #f2f2f2;
}

.headerdiv {
	float: right;
}

.background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 0;
}

.tableres {
	position: absolute;
	margin-left: 20%;
	margin-right: 20%;
}

@media (min-width: 200px) {
	.headertd {
		font-size: 5px;
	}
	.headera {
		font-size: 10px;
	}

}

@media (min-width: 576px) {
	.headertd {
		font-size: 6px;
	}
	.headera {
		font-size: 15px;
	}
 
}

@media (min-width: 768px) {
	.headertd {
		font-size: 10px;
	}
	.headera {
		font-size: 20px;
	}
 
}

@media (min-width: 992px) {
	.headertd {
		font-size: 15px;
	}
	.headera {
		font-size: 25px;
	}
 
}

@media (min-width: 1200px) {
    .headertd {
        font-size: 20px;
    }

    .headera {
        font-size: 22px;
    }

    
}
.form button,
    .b1 {
        font-size: 14px;
    }
